@font-face {
    font-family: 'Duality';
    src: url('public/assets/fonts/cygnito_mono.otf') format('truetype');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#2D2A63;
    color:white;
    font-family:sans-serif;
}

/* FONT */

.pixel-font{
    font-family:'Duality';
}

/* MAIN LAYOUT */

.main-container{
    width:100vw;
    height:100vh;
    display:flex;
}

/* LEFT */

.left-section{
    width:70%;
    height:100%;
    background:#2D2A63;
    position:relative;
    overflow:hidden;
}

/* RIGHT */

.right-section{
    width:30%;
    height:100%;
    background:#FF6B6B;
    position:relative;
}

/* PANELS */

.panels{
    position:absolute;
    inset:0;

    display:flex;
    justify-content:space-evenly;

    padding:0 30px;
}

.panel{
    width:150px;
    height:100%;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:80px;
}

/* CONTENT */

.content{
    position:relative;
    z-index:10;

    padding-left:70px;
    padding-top:50px;
}

/* LOGO */

.logo-container{
    position:relative;
    margin-bottom:120px;
}

.logo{
    font-size:54px;
    position:relative;
    z-index:2;
}

.logo-blobs{
    position:absolute;
    left:20px;
    top:0;

    display:flex;
    gap:12px;
}

.logo-blobs span{
    width:30px;
    height:80px;

    border-radius:999px;

    background:rgba(255, 107, 107, 0.3);
}

/* HERO */

.hero-section{
    width:700px;
}

.greeting{
    font-size:64px;
    line-height:1.2;
}

.title{
    font-size:56px;
    margin-top:10px;
}

.description{
    width:650px;

    margin-top:50px;

    font-size:28px;
    line-height:1.6;

    opacity:0.85;
}

/* BUTTONS */

.buttons{
    margin-top:70px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.buttons button{
    width:240px;

    padding:18px 24px;

    border-radius:999px;

    border:2px solid white;

    background:transparent;

    color:white;

    font-size:24px;

    cursor:pointer;
}

/* MENU BUTTON */

.menu-button{
    position:absolute;

    top:50px;
    right:50px;

    width:90px;
    height:90px;

    border-radius:50%;

    background:#2D2A63;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:10px;
}

.menu-button div{
    width:36px;
    height:2px;
    background:white;
}

/* PORTAL TEXT */

.portal-text{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    font-size:72px;
}

/* TYPEWRITER */

.typewriter::after{
    content:"|";
    animation:blink 0.8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}