@font-face {
    font-family: 'Duality';
    src: url('public/assets/fonts/cygnito_mono.otf') format('truetype');
}

:root{
    --split-position: 69%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
    scrollbar-width: none;
}

body{
    overflow-x:hidden;
    background:#2D2A63;
    color:white;
    font-family:sans-serif;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

/* FONT */

.pixel-font{
    font-family:
            'Duality',
            'Noto Sans JP',
            'Noto Sans Devanagari',
            'Noto Sans Oriya',
            sans-serif;
}





.site-wrapper{
    position:relative;
}

/* PANELS */

.panels{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:start;
    gap:18px;
    padding:0 30px;
    padding-left: 120px;
    width:var(--split-position);
}

.panel{
    width: 6vw;
    min-width: 60px;
    max-width: 80px;
    height:100%;
    border:1px solid rgba(255,107,107,0.15);
    background:rgba(255,107,107,0.03);
    box-shadow:0 0 10px rgba(255,107,107,0.04);
    justify-content:start;
    border-radius: 10px;


}



.main-container,
.products-section{
    position:relative;
    z-index:1;
}


/*Journey Rail*/
/*.journey-rail{*/
/*    position:fixed;*/
/*    top:0;*/
/*    bottom:0;*/
/*    !*left:calc(var(--split-position) - 32px);*!*/
/*    left:calc(var(--split-position) - 14px);*/
/*    display:flex;*/
/*    gap:20px;*/
/*    z-index:20;*/
/*    pointer-events:none;*/
/*}*/

/*.rail{*/
/*    width:2.5px;*/
/*    height:100vh;*/
/*}*/

/*.rail-blue{*/
/*    background:*/
/*            repeating-linear-gradient(*/
/*                    to bottom,*/
/*                    #2D2A63 0px,*/
/*                    #2D2A63 14px,*/
/*                    transparent 14px,*/
/*                    transparent 28px*/
/*            );*/
/*}*/

/*.rail-coral{*/
/*    background:*/
/*            repeating-linear-gradient(*/
/*                    to bottom,*/
/*                    #FF6B6B 0px,*/
/*                    #FF6B6B 14px,*/
/*                    transparent 14px,*/
/*                    transparent 28px*/
/*            );*/
/*}*/


/* CONTENT */

.content{
    position:relative;
    z-index:10;

    padding-left:32px;
    padding-top:5vh;
}

 /*LOGO*/


.logo-container{
    position:fixed;
    top:28px;
    left:30px;
    z-index:1000;
}

.duality-logo{
    height:50px;
    width:auto;
    display:block;
    transition:
            transform .35s ease,
            opacity .35s ease;
}

.duality-logo.scrolled{
    transform:
            scale(.8)
            translateY(-4px);
}

@media (pointer: fine) {
    *,
    *::before,
    *::after,
    *:hover {
        cursor: none !important;
    }
}





