@font-face {
    font-family: 'Duality';
    src: url('public/assets/fonts/cygnito_mono.otf') format('truetype');
}

:root{
    --split-position: 69%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
}

body{
    overflow:hidden;
    background:#2D2A63;
    color:white;
    font-family:sans-serif;
}

/* FONT */

.pixel-font{
    font-family:
            'Duality',
            'Noto Sans JP',
            'Noto Sans Devanagari',
            'Noto Sans Oriya',
            sans-serif;
}

/* MAIN LAYOUT */

.main-container{
    width:100%;
    height:100vh;

    display:flex;

    overflow:hidden;
}

/* LEFT SECTION */

.left-section{
    width:var(--split-position);
    height:100%;

    background:#2D2A63;

    position:relative;
    overflow:hidden;
}

/* RIGHT SECTION */

.right-section{
    width:31%;
    height:100%;

    background:#FF6B6B;

    position:relative;
}

/* PANELS */

.panels{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    gap:18px;
    padding:0 30px;
    padding-left: 60px;
}

.panel{
    width: 6vw;
    min-width: 60px;
    max-width: 80px;
    height:100%;
    border:1px solid rgba(255, 107, 107, 0.15);
    background:rgba(255, 107, 107, 0.025);
    box-shadow:
            0 0 10px rgba(255,107,107,0.04);
    border-radius:10px;

}
/*Journey Rail*/
.journey-rail{
    position:fixed;
    top:0;
    bottom:0;
    /*left:calc(var(--split-position) - 32px);*/
    left:calc(var(--split-position) - 14px);
    display:flex;
    gap:20px;
    z-index:20;
    pointer-events:none;
}

.rail{
    width:2.5px;
    height:100vh;
}

.rail-blue{
    background:
            repeating-linear-gradient(
                    to bottom,
                    #2D2A63 0px,
                    #2D2A63 14px,
                    transparent 14px,
                    transparent 28px
            );
}

.rail-coral{
    background:
            repeating-linear-gradient(
                    to bottom,
                    #FF6B6B 0px,
                    #FF6B6B 14px,
                    transparent 14px,
                    transparent 28px
            );
}


/* CONTENT */

.content{
    position:relative;
    z-index:10;

    padding-left:32px;
    padding-top:5vh;
}

 /*LOGO*/


.logo-container{
    position:fixed;
    top:28px;
    left:55px;
    z-index:1000;
}

.duality-logo{
    height:50px;
    width:auto;
    display:block;
}

/* HERO */

.hero-section{
    width:min(42vw, 700px);
    padding-top: 12px;
    margin: 70px;
}

.greeting{
    font-size:clamp(28px, 3vw, 42px);

    line-height:1.2;
}

.title{
    font-size:clamp(28px, 4vw, 42px);

    margin-top:10px;
}

.description{
    font-family: 'Duality';
    width:min(40vw, 620px);
    margin-top:40px;
    font-size:clamp(12px, 1.2vw, 24px);
    line-height:1.6;
    opacity:0.85;
}

/* BUTTONS */

.buttons{
    margin-top:70px;
    display:flex;
    flex-direction:column;
    gap:14px;
}

.meow-button{
    display:flex;
    align-items:center;
    gap:12px;
}

.paw-icon{
    width:28px;
    height:28px;

    object-fit:contain;

    transition:0.3s ease;
}

.meow-button:hover .paw-icon{
    transform:rotate(-10deg) scale(1.1);
}

.buttons button{
    width:fit-content;
    padding:12px 20px;
    border-radius:999px;
    border:1px solid rgba(255,255,255,0.9);
    background:transparent;
    color:white;
    font-family:'Duality';
    font-size:14px;
    cursor:pointer;
    transition:0.3s ease;
}

.buttons button:hover{
    background:white;
    color:#2D2A63;
}

/* MENU BUTTON */

.menu-button{
    position:absolute;

    top:40px;
    right:40px;

    width:50px;
    height:50px;

    border-radius:50%;

    background:#2D2A63;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:10px;

    cursor:pointer;
}

.menu-button div{
    width:32px;
    height:2px;

    background:white;
}

/* PORTAL TEXT */

.portal-text{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    font-size:clamp(42px, 3vw, 72px);

    white-space:nowrap;
}

/* TYPEWRITER */

.typewriter::after{
    content:"|";

    animation:blink 0.8s infinite;
}

@keyframes blink{
    40%{
        opacity:0;
    }
}