.products-page{
    min-height:100vh;
}

.products-section{
    min-height:100vh;

    display:grid;
    grid-template-columns:69% 31%;

    background:transparent;
}

.products-left{
    padding:4rem;

    display:flex;
    flex-direction:column;
}

.products-right{
    position:relative;

    background:#ff6b6b;

    display:flex;
    align-items:center;
    justify-content:center;
}

.product-tabs{
    margin-top:2rem;

    display:flex;

    border:2px solid #ff7070;
    border-radius:10px;

    overflow:hidden;
}

.product-tabs button{
    flex:1;

    padding:12px;

    background:none;
    border:none;

    color:white;

    cursor:pointer;
}

.product-stack{
    position:relative;

    width:650px;
    height:420px;

    margin-top:3rem;
}

.stack-card{
    position:absolute;

    width:100%;
    height:100%;

    background:#d9d9d9;

    border-radius:12px;
}

.back-2{
    left:0;
    top:0;

    z-index:1;
}

.back-1{
    left:20px;
    top:20px;

    z-index:2;

    border:3px solid #2489d7;
}

.front {
    left: 40px;
    top: 40px;

    z-index: 3;
}