/* ==========================================PRODUCTS COVER========================================== */

.products-cover{
    height:100vh;

    display:grid;
    grid-template-columns:69% 31%;
    overflow: visible;

    position:relative;
}

/* ==========================================LEFT SIDE========================================== */

.products-cover-left{
    position:relative;

    overflow:visible;

    display:flex;
    align-items:center;

    padding-left:80px;
}

.products-cover-title{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
    transform-origin:center center;

    font-family:"Duality";
    font-size:12rem;

    color:white;

    white-space:nowrap;

    will-change:transform;

    z-index:10;
}

.products-band{

    position:absolute;

    right:0;
    top:62%;

    width:0;

    height:72px;

    background:#FF6B6B;

    border-radius:14px 0 0 14px;

    z-index:5;
}

/* ==========================================TITLE========================================== */

.products-title{
    position:absolute;

    left:60px;
    top:25%;

    transform:translateY(-50%);
    font-family: "Duality";

    font-size:16rem;

    width:max-content;
}

/* ==========================================RIGHT PANEL========================================== */

.products-cover-right{
    background:#FF6B6B;
    position:relative;
}








/*<------------------------------------------------------------------------------------------------------------------>*/

.products-page{
    min-height:100vh;
}

.products-title-pixel-font{
    font-size:clamp(28px, 4vw, 42px);
    font-family: "Duality";
}

.products-section{
    min-height:100vh;

    display:grid;
    grid-template-columns:69% 31%;

    background:transparent;
}

.products-left{
    padding:4rem;
    margin-left: 60px;
    display:flex;
    flex-direction:column;
}

.products-right{
    position:relative;

    background:#ff6b6b;

    display:flex;
    align-items:center;
    justify-content:center;
}

.product-tabs{
    margin-top:2rem;

    display:flex;

    border:2px solid #ff7070;
    border-radius:10px;

    overflow:hidden;
}

.product-tabs button{
    flex:1;

    padding:12px;

    background:none;
    border:none;

    color:white;

    cursor:pointer;
}

.product-stack{
    position:relative;

    width:650px;
    height:420px;

    margin-top:3rem;
}

.stack-card{
    position:absolute;

    width:100%;
    height:100%;

    background:#d9d9d9;

    border-radius:12px;
}

.back-2{
    left:0;
    top:0;

    z-index:1;
}

.back-1{
    left:20px;
    top:20px;

    z-index:2;

    border:3px solid #2489d7;
}

.front {
    left: 40px;
    top: 40px;

    z-index: 3;
}